In [62]:
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score

In [63]:
gender = pd.read_csv('gender_results.csv', index_col=0)

In [64]:
ethinicity = pd.read_csv('ethnicity_results.csv', index_col=0)

In [65]:
ethinicity

         Type  Accuracy  Weighted F1
0   General_3  0.938462     0.937130
1   General_2  0.969231     0.976675
2  General_XL  0.910714     0.925022
3        SE_3  0.923077     0.923077
4        SE_2  0.938462     0.940220
5       SE_XL  1.000000     1.000000

In [66]:
def get_gender_scores(df):
  accuracy = accuracy_score(df['gender'], df['blip_gender'])
  f1 = f1_score(df['gender'], df['blip_gender'], average='weighted')
  return accuracy, f1

def get_ethnicity_scores(df):
  accuracy = accuracy_score(df['ethnicity'], df['blip_ethnicity'])
  f1 = f1_score(df['ethnicity'], df['blip_ethnicity'], average='weighted')
  return accuracy, f1

# FLUX

## Gender

In [67]:
flux_person = pd.read_csv('../manual_inspection/flux/general/blip_label.csv', index_col=0)

In [68]:
flux_person['gender'] = flux_person['gender'].replace('women', 'female')

In [69]:
flux_person

,Unnamed: 0,prompt,gender,ethnicity,blip_gender,blip_ethnicity
0,0,Photo_portrait_of_a_person_that_classifies_req...,male,white,male,asian
1,1,Photo_portrait_of_a_person_that_performs_admin...,female,asian,female,asian
2,2,Photo_portrait_of_a_person_that_elicits_requir...,male,black,female,black
3,3,Photo_portrait_of_a_person_that_identifies_con...,male,white,male,white
4,4,Photo_portrait_of_a_person_that_maintains_chan...,male,white,male,white
...,...,...,...,...,...,...
84,84,Photo_portrait_of_a_person_that_provides_comme...,male,white,male,white
85,85,Photo_portrait_of_a_person_that_performs_perso...,male,asian,male,asian
86,86,Photo_portrait_of_a_person_that_performs_admin...,female,black,female,black
87,87,Photo_portrait_of_a_person_that_estimates_task...,male,white,male,white
88,88,Photo_portrait_of_a_person_that_helps_others._...,female,black,female,black

In [70]:
accuracy_person, f1_person = get_gender_scores(flux_person)

In [71]:
flux_se = pd.read_csv('../manual_inspection/flux/se/blip_label.csv', index_col=0)

In [72]:
accuracy, f1 = get_gender_scores(flux_se)

In [73]:
#add a new row to gender
gender = pd.concat([gender, pd.DataFrame({
  'Type': ['Flux General', 'Flux SE'],
  'Accuracy': [accuracy_person, accuracy],
  'F1': [f1_person, f1]})
])

## Ethnicity

In [74]:
accuracy_p, f1_p = get_ethnicity_scores(flux_person)

In [75]:
accuracy_se, f1_se = get_ethnicity_scores(flux_se)

In [76]:
ethinicity = pd.concat([ethinicity, pd.DataFrame({
  'Type': ['Flux General', 'Flux SE'],
  'Accuracy': [accuracy_p, accuracy_se],
  'Weighted F1': [f1_p, f1_se]})
])

# Segmind Vega

In [77]:
segmind_person = pd.read_csv('../manual_inspection/segmind/general/blip_label.csv', index_col=0)
segmind_se = pd.read_csv('../manual_inspection/segmind/se/blip_label.csv', index_col=0)

In [78]:
accuracy_person, f1_person = get_gender_scores(segmind_person)
accuracy_se, f1_se = get_gender_scores(segmind_se)

In [79]:
gender = pd.concat([gender, pd.DataFrame({
  'Type': ['Segmind General', 'Segmind SE'],
  'Accuracy': [accuracy_person, accuracy_se],
  'F1': [f1_person, f1_se]})
])

In [80]:
gender

              Type  Accuracy        F1
0        General_3  0.984615  0.985141
1        General_2  1.000000  1.000000
2       General_xl  0.969231  0.966927
3             SE_3  1.000000  1.000000
4             SE_2  1.000000  1.000000
5            SE_xl  1.000000  1.000000
0     Flux General  0.932584  0.935169
1          Flux SE  1.000000  1.000000
0  Segmind General  0.966292  0.968065
1       Segmind SE  1.000000  1.000000

In [81]:
accuracy_ethnicity_person, accuracy_f1_person = get_ethnicity_scores(segmind_person)
accuracy_ethnicity_se, accuracy_f1_se = get_ethnicity_scores(segmind_se)

In [82]:
ethinicity = pd.concat([ethinicity, pd.DataFrame({
  'Type': ['Segmind General', 'Segmind SE'],
  'Accuracy': [accuracy_ethnicity_person, accuracy_ethnicity_se],
  'Weighted F1': [accuracy_f1_person, accuracy_f1_se]})
])

In [83]:
ethinicity

              Type  Accuracy  Weighted F1
0        General_3  0.938462     0.937130
1        General_2  0.969231     0.976675
2       General_XL  0.910714     0.925022
3             SE_3  0.923077     0.923077
4             SE_2  0.938462     0.940220
5            SE_XL  1.000000     1.000000
0     Flux General  0.910112     0.908839
1          Flux SE  0.921348     0.940855
0  Segmind General  0.977528     0.988636
1       Segmind SE  0.988764     0.983178

# Openjourney

In [84]:
open_person = pd.read_csv('../manual_inspection/openjourney/general/blip_label.csv', index_col=0)
open_se = pd.read_csv('../manual_inspection/openjourney/se/blip_label.csv', index_col=0)

In [85]:
accuracy_person, f1_person = get_gender_scores(open_person)
accuracy_se, f1_se = get_gender_scores(open_se)

In [86]:
gender = pd.concat([gender, pd.DataFrame({
  'Type': ['Openjourney General', 'Openjourney SE'],
  'Accuracy': [accuracy_person, accuracy_se],
  'F1': [f1_person, f1_se]})
])

In [87]:
accuracy_ethnicity_person, accuracy_f1_person = get_ethnicity_scores(open_person)
accuracy_ethnicity_se, accuracy_f1_se = get_ethnicity_scores(open_se)

In [88]:
ethinicity = pd.concat([ethinicity, pd.DataFrame({
  'Type': ['Openjourney General', 'Openjourney SE'],
  'Accuracy': [accuracy_ethnicity_person, accuracy_ethnicity_se],
  'Weighted F1': [accuracy_f1_person, accuracy_f1_se]})
])

In [89]:
gender

                  Type  Accuracy        F1
0            General_3  0.984615  0.985141
1            General_2  1.000000  1.000000
2           General_xl  0.969231  0.966927
3                 SE_3  1.000000  1.000000
4                 SE_2  1.000000  1.000000
5                SE_xl  1.000000  1.000000
0         Flux General  0.932584  0.935169
1              Flux SE  1.000000  1.000000
0      Segmind General  0.966292  0.968065
1           Segmind SE  1.000000  1.000000
0  Openjourney General  0.932584  0.933470
1       Openjourney SE  1.000000  1.000000

In [90]:
ethinicity

                  Type  Accuracy  Weighted F1
0            General_3  0.938462     0.937130
1            General_2  0.969231     0.976675
2           General_XL  0.910714     0.925022
3                 SE_3  0.923077     0.923077
4                 SE_2  0.938462     0.940220
5                SE_XL  1.000000     1.000000
0         Flux General  0.910112     0.908839
1              Flux SE  0.921348     0.940855
0      Segmind General  0.977528     0.988636
1           Segmind SE  0.988764     0.983178
0  Openjourney General  0.831461     0.872294
1       Openjourney SE  0.786517     0.843532

## COG

In [91]:
cog_person = pd.read_csv('../manual_inspection/cog/general/blip_label.csv', index_col=0)
cog_se = pd.read_csv('../manual_inspection/cog/se/blip_label.csv', index_col=0)

In [92]:
accuracy_person, f1_person = get_gender_scores(cog_person)
accuracy_se, f1_se = get_gender_scores(cog_se)

In [93]:
gender = pd.concat([gender, pd.DataFrame({
  'Type': ['COG General', 'COG SE'],
  'Accuracy': [accuracy_person, accuracy_se],
  'F1': [f1_person, f1_se]})
])

In [94]:
gender

                  Type  Accuracy        F1
0            General_3  0.984615  0.985141
1            General_2  1.000000  1.000000
2           General_xl  0.969231  0.966927
3                 SE_3  1.000000  1.000000
4                 SE_2  1.000000  1.000000
5                SE_xl  1.000000  1.000000
0         Flux General  0.932584  0.935169
1              Flux SE  1.000000  1.000000
0      Segmind General  0.966292  0.968065
1           Segmind SE  1.000000  1.000000
0  Openjourney General  0.932584  0.933470
1       Openjourney SE  1.000000  1.000000
0          COG General  0.988764  0.988868
1               COG SE  1.000000  1.000000

In [95]:
accuracy_ethnicity_person, accuracy_f1_person = get_ethnicity_scores(cog_person)
accuracy_ethnicity_se, accuracy_f1_se = get_ethnicity_scores(cog_se)

In [96]:
ethinicity = pd.concat([ethinicity, pd.DataFrame({
  'Type': ['COG General', 'COG SE'],
  'Accuracy': [accuracy_ethnicity_person, accuracy_ethnicity_se],
  'Weighted F1': [accuracy_f1_person, accuracy_f1_se]})
])

In [97]:
ethinicity.to_latex('ethnicity_results.tex', index=False, float_format="%.2f")

In [98]:
gender.to_latex('gender_results.tex', index=False, float_format="%.2f")

## Fair Images

In [100]:
sd3_fair = pd.read_csv('../manual_inspection/imgs_3_fair/se/blip_label.csv', index_col=0)
sd2_fair = pd.read_csv('../manual_inspection/imgs2_fair/se/blip_label.csv', index_col=0)
sdxl_fair = pd.read_csv('../manual_inspection/imgsxl_fair/se/blip_label.csv', index_col=0)
flux_fair = pd.read_csv('../manual_inspection/imgs_flux_fair/se/blip_label.csv', index_col=0)
cog_fair = pd.read_csv('../manual_inspection/imgs_cog_fair/se/blip_label.csv', index_col=0)
segmind_fair = pd.read_csv('../manual_inspection/imgs_segmind_fair/se/blip_label.csv', index_col=0)

accuracy_sd3_fair, f1_sd3_fair = get_gender_scores(sd3_fair)
accuracy_sd2_fair, f1_sd2_fair = get_gender_scores(sd2_fair)
accuracy_sdxl_fair, f1_sdxl_fair = get_gender_scores(sdxl_fair)
accuracy_flux_fair, f1_flux_fair = get_gender_scores(flux_fair)
accuracy_cog_fair, f1_cog_fair = get_gender_scores(cog_fair)
accuracy_segmind_fair, f1_segmind_fair = get_gender_scores(segmind_fair)

In [101]:
gender = pd.concat([gender, pd.DataFrame({
  'Type': ['SD3 Fair', 'SD2 Fair', 'SDXL Fair', 'Flux Fair', 'Cog Fair', 'Segmind Fair'],
  'Accuracy': [accuracy_sd3_fair, accuracy_sd2_fair, accuracy_sdxl_fair, accuracy_flux_fair, accuracy_cog_fair, accuracy_segmind_fair],
  'F1': [f1_sd3_fair, f1_sd2_fair, f1_sdxl_fair, f1_flux_fair, f1_cog_fair, f1_segmind_fair]})
])

In [102]:
gender

                  Type  Accuracy        F1
0            General_3  0.984615  0.985141
1            General_2  1.000000  1.000000
2           General_xl  0.969231  0.966927
3                 SE_3  1.000000  1.000000
4                 SE_2  1.000000  1.000000
5                SE_xl  1.000000  1.000000
0         Flux General  0.932584  0.935169
1              Flux SE  1.000000  1.000000
0      Segmind General  0.966292  0.968065
1           Segmind SE  1.000000  1.000000
0  Openjourney General  0.932584  0.933470
1       Openjourney SE  1.000000  1.000000
0          COG General  0.988764  0.988868
1               COG SE  1.000000  1.000000
0             SD3 Fair  0.988764  0.988652
1             SD2 Fair  0.887640  0.888726
2            SDXL Fair  0.932584  0.932584
3            Flux Fair  0.932584  0.927186
4             Cog Fair  0.977528  0.977528
5         Segmind Fair  0.943820  0.947395

In [103]:
accuracy_sd3_fair, f1_sd3_fair = get_ethnicity_scores(sd3_fair)
accuracy_sd2_fair, f1_sd2_fair = get_ethnicity_scores(sd2_fair)
accuracy_sdxl_fair, f1_sdxl_fair = get_ethnicity_scores(sdxl_fair)
accuracy_flux_fair, f1_flux_fair = get_ethnicity_scores(flux_fair)
accuracy_cog_fair, f1_cog_fair = get_ethnicity_scores(cog_fair)
accuracy_segmind_fair, f1_segmind_fair = get_ethnicity_scores(segmind_fair)

In [104]:
ethinicity = pd.concat([ethinicity, pd.DataFrame({
  'Type': ['SD3 Fair', 'SD2 Fair', 'SDXL Fair', 'Flux Fair', 'Cog Fair', 'Segmind Fair'],
  'Accuracy': [accuracy_sd3_fair, accuracy_sd2_fair, accuracy_sdxl_fair, accuracy_flux_fair, accuracy_cog_fair, accuracy_segmind_fair],
  'Weighted F1': [f1_sd3_fair, f1_sd2_fair, f1_sdxl_fair, f1_flux_fair, f1_cog_fair, f1_segmind_fair]})
])
ethinicity

                  Type  Accuracy  Weighted F1
0            General_3  0.938462     0.937130
1            General_2  0.969231     0.976675
2           General_XL  0.910714     0.925022
3                 SE_3  0.923077     0.923077
4                 SE_2  0.938462     0.940220
5                SE_XL  1.000000     1.000000
0         Flux General  0.910112     0.908839
1              Flux SE  0.921348     0.940855
0      Segmind General  0.977528     0.988636
1           Segmind SE  0.988764     0.983178
0  Openjourney General  0.831461     0.872294
1       Openjourney SE  0.786517     0.843532
0          COG General  0.932584     0.939945
1               COG SE  0.988764     0.983178
0             SD3 Fair  0.943820     0.916542
1             SD2 Fair  0.876404     0.881283
2            SDXL Fair  0.988764     0.990604
3            Flux Fair  0.898876     0.883024
4             Cog Fair  0.932584     0.939989
5         Segmind Fair  0.910112     0.914426

In [105]:
ethinicity.to_latex('ethnicity_results.tex', index=False, float_format="%.2f")

In [106]:
gender.to_latex('gender_results.tex', index=False, float_format="%.2f")