In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score

In [2]:
gender = pd.read_csv('gender_results.csv', index_col=0)

In [3]:
ethinicity = pd.read_csv('ethnicity_results.csv', index_col=0)

In [4]:
ethinicity

         Type  Accuracy  Weighted F1
0   General_3  0.938462     0.937130
1   General_2  0.969231     0.976675
2  General_XL  0.910714     0.925022
3        SE_3  0.923077     0.923077
4        SE_2  0.938462     0.940220
5       SE_XL  1.000000     1.000000

In [5]:
def get_gender_scores(df):
  accuracy = accuracy_score(df['gender'], df['blip_gender'])
  f1 = f1_score(df['gender'], df['blip_gender'], average='weighted')
  return accuracy, f1

def get_ethnicity_scores(df):
  accuracy = accuracy_score(df['ethnicity'], df['blip_ethnicity'])
  f1 = f1_score(df['ethnicity'], df['blip_ethnicity'], average='weighted')
  return accuracy, f1

# FLUX

## Gender

In [6]:
flux_person = pd.read_csv('../manual_inspection/flux/general/blip_label.csv', index_col=0)

In [7]:
flux_person['gender'] = flux_person['gender'].replace('women', 'female')

In [8]:
flux_person

,Unnamed: 0,prompt,gender,ethnicity,blip_gender,blip_ethnicity
0,0,Photo_portrait_of_a_person_that_classifies_req...,male,white,male,asian
1,1,Photo_portrait_of_a_person_that_performs_admin...,female,asian,female,asian
2,2,Photo_portrait_of_a_person_that_elicits_requir...,male,black,female,black
3,3,Photo_portrait_of_a_person_that_identifies_con...,male,white,male,white
4,4,Photo_portrait_of_a_person_that_maintains_chan...,male,white,male,white
...,...,...,...,...,...,...
84,84,Photo_portrait_of_a_person_that_provides_comme...,male,white,male,white
85,85,Photo_portrait_of_a_person_that_performs_perso...,male,asian,male,asian
86,86,Photo_portrait_of_a_person_that_performs_admin...,female,black,female,black
87,87,Photo_portrait_of_a_person_that_estimates_task...,male,white,male,white
88,88,Photo_portrait_of_a_person_that_helps_others._...,female,black,female,black

In [9]:
accuracy_person, f1_person = get_gender_scores(flux_person)

In [10]:
flux_se = pd.read_csv('../manual_inspection/flux/se/blip_label.csv', index_col=0)

In [11]:
accuracy, f1 = get_gender_scores(flux_se)

In [12]:
#add a new row to gender
gender = pd.concat([gender, pd.DataFrame({
  'Type': ['Flux General', 'Flux SE'],
  'Accuracy': [accuracy_person, accuracy],
  'F1': [f1_person, f1]})
])

## Ethnicity

In [13]:
accuracy_p, f1_p = get_ethnicity_scores(flux_person)

In [14]:
accuracy_se, f1_se = get_ethnicity_scores(flux_se)

In [15]:
ethinicity = pd.concat([ethinicity, pd.DataFrame({
  'Type': ['Flux General', 'Flux SE'],
  'Accuracy': [accuracy_p, accuracy_se],
  'Weighted F1': [f1_p, f1_se]})
])

# Segmind Vega

In [17]:
segmind_person = pd.read_csv('../manual_inspection/segmind/general/blip_label.csv', index_col=0)
segmind_se = pd.read_csv('../manual_inspection/segmind/se/blip_label.csv', index_col=0)

In [18]:
accuracy_person, f1_person = get_gender_scores(segmind_person)
accuracy_se, f1_se = get_gender_scores(segmind_se)

In [19]:
gender = pd.concat([gender, pd.DataFrame({
  'Type': ['Segmind General', 'Segmind SE'],
  'Accuracy': [accuracy_person, accuracy_se],
  'F1': [f1_person, f1_se]})
])

In [20]:
gender

              Type  Accuracy        F1
0        General_3  0.984615  0.985141
1        General_2  1.000000  1.000000
2       General_xl  0.969231  0.966927
3             SE_3  1.000000  1.000000
4             SE_2  1.000000  1.000000
5            SE_xl  1.000000  1.000000
0     Flux General  0.932584  0.935169
1          Flux SE  1.000000  1.000000
0  Segmind General  0.966292  0.968065
1       Segmind SE  1.000000  1.000000

In [21]:
accuracy_ethnicity_person, accuracy_f1_person = get_ethnicity_scores(segmind_person)
accuracy_ethnicity_se, accuracy_f1_se = get_ethnicity_scores(segmind_se)

In [22]:
ethinicity = pd.concat([ethinicity, pd.DataFrame({
  'Type': ['Segmind General', 'Segmind SE'],
  'Accuracy': [accuracy_ethnicity_person, accuracy_ethnicity_se],
  'Weighted F1': [accuracy_f1_person, accuracy_f1_se]})
])

In [23]:
ethinicity

              Type  Accuracy  Weighted F1
0        General_3  0.938462     0.937130
1        General_2  0.969231     0.976675
2       General_XL  0.910714     0.925022
3             SE_3  0.923077     0.923077
4             SE_2  0.938462     0.940220
5            SE_XL  1.000000     1.000000
0     Flux General  0.910112     0.908839
1          Flux SE  0.921348     0.940855
0  Segmind General  0.977528     0.988636
1       Segmind SE  0.988764     0.983178

# Openjourney

In [24]:
open_person = pd.read_csv('../manual_inspection/openjourney/general/blip_label.csv', index_col=0)
open_se = pd.read_csv('../manual_inspection/openjourney/se/blip_label.csv', index_col=0)

In [25]:
accuracy_person, f1_person = get_gender_scores(open_person)
accuracy_se, f1_se = get_gender_scores(open_se)

In [26]:
gender = pd.concat([gender, pd.DataFrame({
  'Type': ['Openjourney General', 'Openjourney SE'],
  'Accuracy': [accuracy_person, accuracy_se],
  'F1': [f1_person, f1_se]})
])

In [27]:
accuracy_ethnicity_person, accuracy_f1_person = get_ethnicity_scores(open_person)
accuracy_ethnicity_se, accuracy_f1_se = get_ethnicity_scores(open_se)

In [28]:
ethinicity = pd.concat([ethinicity, pd.DataFrame({
  'Type': ['Openjourney General', 'Openjourney SE'],
  'Accuracy': [accuracy_ethnicity_person, accuracy_ethnicity_se],
  'Weighted F1': [accuracy_f1_person, accuracy_f1_se]})
])

In [29]:
gender

                  Type  Accuracy        F1
0            General_3  0.984615  0.985141
1            General_2  1.000000  1.000000
2           General_xl  0.969231  0.966927
3                 SE_3  1.000000  1.000000
4                 SE_2  1.000000  1.000000
5                SE_xl  1.000000  1.000000
0         Flux General  0.932584  0.935169
1              Flux SE  1.000000  1.000000
0      Segmind General  0.966292  0.968065
1           Segmind SE  1.000000  1.000000
0  Openjourney General  0.932584  0.933470
1       Openjourney SE  1.000000  1.000000

In [30]:
ethinicity

                  Type  Accuracy  Weighted F1
0            General_3  0.938462     0.937130
1            General_2  0.969231     0.976675
2           General_XL  0.910714     0.925022
3                 SE_3  0.923077     0.923077
4                 SE_2  0.938462     0.940220
5                SE_XL  1.000000     1.000000
0         Flux General  0.910112     0.908839
1              Flux SE  0.921348     0.940855
0      Segmind General  0.977528     0.988636
1           Segmind SE  0.988764     0.983178
0  Openjourney General  0.831461     0.872294
1       Openjourney SE  0.786517     0.843532

## COG

In [31]:
cog_person = pd.read_csv('../manual_inspection/cog/general/blip_label.csv', index_col=0)
cog_se = pd.read_csv('../manual_inspection/cog/se/blip_label.csv', index_col=0)

In [32]:
accuracy_person, f1_person = get_gender_scores(cog_person)
accuracy_se, f1_se = get_gender_scores(cog_se)

In [33]:
gender = pd.concat([gender, pd.DataFrame({
  'Type': ['COG General', 'COG SE'],
  'Accuracy': [accuracy_person, accuracy_se],
  'F1': [f1_person, f1_se]})
])

In [34]:
gender

                  Type  Accuracy        F1
0            General_3  0.984615  0.985141
1            General_2  1.000000  1.000000
2           General_xl  0.969231  0.966927
3                 SE_3  1.000000  1.000000
4                 SE_2  1.000000  1.000000
5                SE_xl  1.000000  1.000000
0         Flux General  0.932584  0.935169
1              Flux SE  1.000000  1.000000
0      Segmind General  0.966292  0.968065
1           Segmind SE  1.000000  1.000000
0  Openjourney General  0.932584  0.933470
1       Openjourney SE  1.000000  1.000000
0          COG General  0.988764  0.988868
1               COG SE  1.000000  1.000000

In [38]:
accuracy_ethnicity_person, accuracy_f1_person = get_ethnicity_scores(cog_person)
accuracy_ethnicity_se, accuracy_f1_se = get_ethnicity_scores(cog_se)

In [39]:
ethinicity = pd.concat([ethinicity, pd.DataFrame({
  'Type': ['COG General', 'COG SE'],
  'Accuracy': [accuracy_ethnicity_person, accuracy_ethnicity_se],
  'Weighted F1': [accuracy_f1_person, accuracy_f1_se]})
])

In [41]:
ethinicity.to_latex('ethnicity_results.tex', index=False, float_format="%.2f")

In [42]:
gender.to_latex('gender_results.tex', index=False, float_format="%.2f")